.usersession
  .usersession__header
    =link_to image_tag("/material/logo/logo.png", class: "usersession__header__top--logo"), root_path, class: "usersession__header__top"
    .usersession__header__bottom
      %ol.usersession__header__bottom__lists
        %li.usersession__header__bottom__lists--step#first_step_text 会員情報
        %li.usersession__header__bottom__lists--step 住所
        %li.usersession__header__bottom__lists--step 完了
      .usersession__header__bottom__status
        .progress_status#first_step_dot
        .progress_status
        .progress_status#last_step_border
  .usersession__main
    .usersession__main--top
      会員情報入力
    .usersession__main__contents
      .usersession__main__contents__nickname
        %p.item_headline ニックネーム
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "例）フリマ太郎"}
      .usersession__main__contents__item
        %p.item_headline メールアドレス
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "PC・携帯どちらでも可"}
      .usersession__main__contents__item
        %p.item_headline パスワード
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "7文字以上の半角英数字"}
      .usersession__main__contents__item
        %p.item_headline パスワード(確認用)
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "7文字以上の半角英数字"}
        %p.usersession_explanation_gray ※英字と数字の両方を含めて設定してください
      .usersession__main__contents__item
        %p.usersession_explanation_bold 本人確認
        %p.usersession_explanation_black 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .usersession__main__contents__name
        %p.item_headline お名前(全角)
        %p.required_label 必須
        .usersession__main__contents__name--input
          %input{class: "user_input_name-right", placeholder: "例）山田"}
          %input{class: "user_input_name-left", placeholder: "例）彩"}
      .usersession__main__contents__name
        %p.item_headline お名前カナ(全角)
        %p.required_label 必須
        .usersession__main__contents__name--input
          %input{class: "user_input_name-right", placeholder: "例）山田"}
          %input{class: "user_input_name-left", placeholder: "例）彩"}
      .usersession__main__contents__item
        %p.item_headline 生年月日
        %p.required_label 必須
        .usersession__main__contents__item--birth
          %select{name: "birth_year", class: "birth_select_box"}
            %option{value: "default"} --
          %p.usersession_explanation_black 年
          %select{name: "birth_month", class: "birth_select_box birth_select_box_md"}
            %option{value: "default"} --
          %p.usersession_explanation_black 月
          %select{name: "birth_day", class: "birth_select_box birth_select_box_md"}
            %option{value: "default"} --
          %p.usersession_explanation_black 日
      =link_to "次へ進む", address_users_path, class: "usersession__main__contents--button"
  .usersession__footer


