.usersession#contents_short
  .usersession__header
    = link_to image_tag("/material/logo/logo.png", class: "usersession__header__top--logo"), root_path, class: "usersession__header__top"
  .usersession__main#contents_short_main
    .usersession__main--top#complete_header
    .usersession__main__contents
      .usersession__main--top
        ログアウトしました
      =link_to "トップページ", root_path, class: "usersession__main__contents--button"
  .usersession__footer