.usersession#contents_short
  .usersession__header
    .usersession__header__bottom
      %ol.usersession__header__bottom__lists
        %li.usersession__header__bottom__lists--step#first_step_text 会員情報
        %li.usersession__header__bottom__lists--step 住所
        %li.usersession__header__bottom__lists--step 完了
      .usersession__header__bottom__status
        .progress_status.progress_status_step2#first_step_dot
        .progress_status.progress_status_complete#secand_step_dot
        .progress_status.progress_status_dot#last_step_dot
  .usersession__main#contents_short_main
    .usersession__main--top#complete_header
    .usersession__main__contents
      .usersession__main--top
        登録完了しました。
      =link_to "トップページ", root_path, class: "usersession__main__contents--button"
  .usersession__footer