.right
  .header
    .user-box
      .user-box__image 
      .user-box__name
        name
      .user-box__status
        .user-box__status--evaluation
          評価
        .user-box__status--number-of-exhibits
          出品数
  .mypage-tab
    .mypage-tab__title--choice
      やることリスト
    .mypage-tab__title
  .mypage-tab__text
    現在やることはありません
