.usersession
  .usersession__header
    =link_to image_tag("/material/logo/logo.png", class: "usersession__header__top--logo"), root_path, class: "usersession__header__top"
    .usersession__header__bottom
      %ol.usersession__header__bottom__lists
        %li.usersession__header__bottom__lists--step#first_step_text 会員情報
        %li.usersession__header__bottom__lists--step 住所
        %li.usersession__header__bottom__lists--step 完了
      .usersession__header__bottom__status
        .progress_status#first_step_dot
        .progress_status
        .progress_status#last_step_border
  .usersession__main
    .usersession__main--top
      住所情報
    .usersession__main__contents
      .usersession__main__contents__nickname
        %p.item_headline 郵便番号
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "例）0000000"}
      .usersession__main__contents__item
        %p.item_headline 都道府県
        %p.required_label 必須
        .usersession__main__contents__item--prefecture
          %select{name: "prefecture", class: "prefecture_box"}
            %option{value: "default"} --
      .usersession__main__contents__item
        %p.item_headline 市区町村
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "大阪市北区"}
      .usersession__main__contents__item
        %p.item_headline 番地
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "123-123"}
      .usersession__main__contents__item
        %p.item_headline 建物名
        %p.required_label#label_gray 任意
        %input{class: "user_input_text", placeholder: "furimaビル"}
      .usersession__main__contents__item
        %p.item_headline 電話番号
        %p.required_label 必須
        %input{class: "user_input_text", placeholder: "例）09012345678"}
        %p.usersession_explanation_gray ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      =link_to "次へ進む", complete_signup_users_path, class: "usersession__main__contents--button"
  .usersession__footer