
.main {
  width: 100%;
  display: block;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  // <メニューバー>
  &__header {
    height: calc(55px - 100%);
    background-color: #ffffff;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    position: relative;
    padding: 0 60px;
    
    ul {
      padding: 17px 0 16px;
      font-size: 14px;
      margin: 0 auto;
      list-style: none;
      width: 100%;
      max-width: 1040px;
      display: flex;
      
      li {
        padding: 0 10px 0 0;
        float: left;
        
        a {
          text-decoration: none;
          color: #333333;
        }
        
        p {
          font-weight: bold;
        }
      }
    }
  }

  // <メインページ>
  &__itempage {
    background-color: #f8f8f8;
    overflow: scroll;
    box-sizing: border-box;
    padding: 40px;

    .show-main {
      margin: 0 auto;
      height: 100%;
      width: 700px;

      &__content {
        height: calc(100% - 57px);

        &__itembox {
          height: calc(100% - 305px);
          background-color: #ffffff;
          padding: 24px 40px 40px;

          h2 {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }

          &__body {
            margin: 16px 0 0;
            
              img {
                width: 620px;
                display: flex;
                align-items: center;
                margin: 0 auto;
                object-fit: cover;
                height: 346px
              }
          
          }

          &__images {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 10px;

            img {
              object-fit: cover;
              width: 140px;
              height: 87px;
            }

          }

          &__price {
            height: 77px;
            margin: 24px 0 24px;
            text-align: center;
            flex-direction: column;

            p {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
          }

          &__detail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }

          &__table {
            height: 426px;
            margin-bottom: 20px;

            table {
              width: 100%;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              
              th {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              
              td {
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
              }
              
              a {
                text-decoration: none;
                color: #3CCACE;
              }
            }
          }

          &__option {
            height: 48px;
            display: flex;
            justify-content: space-between;

            ul {
              margin-top: 10px;

              .optionalBtnlikeBtn {
                margin-right: auto;
                padding: 6px 8.5px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }

              .optionalBtn {
                font-size: 14px;

                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
        }

        &__comment {
          height: calc(305px - 100%);
          background-color: #ffffff;
          padding: 24px;
          margin: 10px 0;
          
          .from-box {
            text-align: center;

            p {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }

            button {
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
        }
      }

      &__link {
        height: 24px;
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: #3CCACE;
        }
      }

      &__reloaditems {
        height: 33px;
        
        a {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}
