 .contents {
  height: 100%;
  width: 100vw;
  background-color: #f8f8f8;
  margin: 0 auto;
 .item {
   height: 100%;
   width: 700px;
   margin: 0 auto;
   background-color: white;
   &__image {
     height: 300px;
     width: 700px;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     &--img {
       height: 230px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
           }
         }
       }
       .exp {
         font-size: 14px;
         margin-top: 16px;
       }
       .file {
         height: 150px;
         width: 600px;
         position: absolute;
         bottom: 0;
         background-color: #f8f8f8;
         border: dotted gray 1px;
         display: flex;
         justify-content: center;
         align-items: center;
         .upload {
           font-size: 13px;
           color: black;
         }
       }
     }
   }
   &__introduction {
     height: 400px;
     width: 700px;
     margin: 0 auto;
     border-top: solid lightgray 0.1px;
     border-bottom: solid lightgray 0.1px;
     &--name {
       height: 80px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
           }
         }
       }
       .form {
         height: 48px;
         width: 600px;
         position: absolute;
         bottom: 0;
         input {
           height: 100%;
           width: 100%;
           border: 1px solid #ccc;
           border-radius: 4px;
           box-sizing: border-box;
           font-family: inherit;
           font-size: inherit;
           padding: 0 16px;
         }
       }
     }
     &--detail {
       height: 200px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
           }
         }
       }
       .form {
         height: 165px;
         width: 600px;
         position: absolute;
         bottom: 0;
         textarea {
           height: 100%;
           width: 100%;
           border: 1px solid #ccc;
           border-radius: 4px;
           box-sizing: border-box;
           color: #222;
           font-size: 16px;
           margin: 0;
           outline: none;
           padding: 13px 16px;
           resize: vertical;
           vertical-align: middle;
         }
       }
     }
   }
   &__detail {
     height: 450px;
     width: 700px;
     margin: 0 auto;
     &--top {
       height: 20px;
       width: 600px;
       margin: 0 auto;
       padding-top: 40px;
       .info {
         font-size: 14px;
         color: gray;
         font-weight: 600;
       }
     }
     &--category {
       height: 80px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
           }
         }
       }
       .form {
         height: 48px;
         width: 600px;
         position: absolute;
         bottom: 0;
         select {
           height: 100%;
           width: 100%;
         }
       }
     }
     &--brand {
       height: 80px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: lightgray;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
           }
         }
       }
       .form {
         height: 48px;
         width: 600px;
         position: absolute;
         bottom: 0;
         input {
           height: 100%;
           width: 100%;
           border: 1px solid #ccc;
           border-radius: 4px;
           box-sizing: border-box;
           font-family: inherit;
           font-size: inherit;
           padding: 0 16px;
         }
       }
     }
     &--state {
       height: 80px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
           }
         }
       }
       .form {
         height: 48px;
         width: 600px;
         position: absolute;
         bottom: 0;
         select {
           height: 100%;
           width: 100%;
         }
       }
     }
   }
   &__delivery {
     height: 450px;
     width: 700px;
     margin: 0 auto;
     border-top: solid lightgray 0.1px;
     border-bottom: solid lightgray 0.1px;
     &--top {
       height: 20px;
       width: 600px;
       margin: 0 auto;
       padding-top: 40px;
       .info {
         font-size: 14px;
         color: gray;
         font-weight: 600;
       }
     }
     &--fee {
       height: 80px;
       width: 600px;
       margin: 0 auto;
       margin-top: 30px;
       position: relative;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
           }
         }
       }
       .form {
         height: 48px;
         width: 600px;
         position: absolute;
         bottom: 0;
         select {
           height: 100%;
           width: 100%;
         }
       }
     }
     &--region {
       height: 80px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
           }
         }
       }
       .form {
         height: 48px;
         width: 600px;
         position: absolute;
         bottom: 0;
         select {
           height: 100%;
           width: 100%;
         }
       }
     }
     &--day {
       height: 80px;
       width: 600px;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 22px;
         width: 600px;
         display: flex;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
           }
         }
       }
       .form {
         height: 48px;
         width: 600px;
         position: absolute;
         bottom: 0;
         select {
           height: 100%;
           width: 100%;
         }
       }
     }
   }
   &__price {
     height: 350px;
     width: 700px;
     margin: 0 auto;
     &--top {
       width: 600px;
       margin: 0 auto;
       padding-top: 40px;
       .info {
         font-size: 14px;
         color: gray;
         font-weight: 600;
       }
     }
     &--fee {
       height: 60px;
       width: 600px;
       display: flex;
       margin: 0 auto;
       position: relative;
       margin-top: 30px;
       .top {
         height: 48px;
         width: 300px;
         display: flex;
         padding-top: 12px;
         &__left {
           height: 22px;
           font-size: 14px;
           color: black;
           font-weight: 600;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         &__right {
           height: 22px;
           font-size: 13px;
           color: white;
           font-weight: 600;
           margin-left: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           .required {
             height: 16px;
             width: 35px;
             background-color: red;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
             padding-top: 1px;
             }
            }
           }
       .form {
         height: 48px;
         width: 300px;
         float: right;
         input {
           height: 100%;
           width: 100%;
           border: 1px solid #ccc;
           border-radius: 4px;
           box-sizing: border-box;
           font-family: inherit;
           font-size: inherit;
           text-align: right;
           padding-right: 16px;
         }
       }
     }
     &--commission {
       height: 70px;
       width: 600px;
       margin: 0 auto;
       border-bottom: solid lightgray 0.1px;
       display: flex;
       .top {
         width: 150px;
         padding-top: 22px;
       }
       .commission {
         height: 14px;
         width: 14px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: auto 0 auto auto;
       }
     }
     &--return {
       height: 70px;
       width: 600px;
       margin: 0 auto;
       display: flex;
       .top {
         width: 75px;
         padding-top: 22px;
       }
       .profit {
         height: 14px;
         width: 14px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: auto 0 auto auto;
       }
     }
   }
  .button {
   height: 130px;
   width: 700px;
   margin: 0 auto;
   &__exhibition {
     height: 48px;
     width: 360px;
     margin: 0 auto;
     .btn {
       height: 100%;
       width: 100%;
       background-color: red;
       color: white;
       font-size: 17px;
       font-weight: 600;
       border-radius: 4px;
       border: 1px solid transparent;
       cursor: pointer;
     }
   }
   &__return {
     height: 48px;
     width: 360px;
     margin: 0 auto;
     margin-top: 30px;
      a {
        font-size: 14px;
        color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
     }
   }
  }
  .warning {
    height: 80px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .agreement {
      height: 35px;
      width: 650px;
      font-size: 12px;
    }
  }
 }
}
