.main {
  width: 100%;
  height: 100vh;
  display: block;

  // <パンくず>
  &__header {
    height: 55px;
    background-color: blue;
  }

  &__itempage {
    height:  100vh;
    background-color: teal;
    overflow: scroll;
    box-sizing: border-box;
    padding: 40px;

    .show-main {
      background-color: thistle;
      margin: 0 auto;
      height: 100%;
      width: 700px;
    }
  }
}