- if @item.seller_id == current_user.try(:id)
  = link_to items_url{item.id}, method: :delete do
    .destroyBtn
      %span.destroyBtn__text 削除
      = image_tag "/material/icon/ifn0342.png",class:"destroyBtn__icon"
- else 
  .display-none