- if @item.seller_id == current_user.try(:id)
  = link_to edit_item_path do
    .editBtn
      %span.editBtn__text 編集
      = image_tag "/material/icon/ifn0342.png",class:"editBtn__icon"
- else 
  .display-none