.header
  .header__inner
    .header__inner__main
      %h1.icon
        = link_to root_path do
          =image_tag "/material/logo/logo.png"
      .searchBox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input#searchInput.searchBox__input{:name => "key", :placeholder => "キーワードから探す"}/
          %button{:type => "submit"}
            .searchBox__icon
              =image_tag "/material/icon/icon-search 1.png"
          %input{:name => "authenticity_token", :type => "hidden", :value => "Ki8VkNyvNLkAz9WBdSjyWLGZEp8Qvtnd7MnjNr08nSozFuPtkF+ckcfxxys4EdL+M9b7VOIzeDngTcLVSei8ZQ=="}/
          
      %ul.resultLists
    .navi
      %ul.listsLeft
        %li.listsLeft__item__category
          =link_to("カテゴリー","#",class:"categoryBtn")
          %ul.categoryTree
            %li.categoryTree__item
              =link_to("全ての商品一覧","#",id:"1")
            %li.categoryTree__item
              =link_to("全ての商品一覧","#",id:"2")
            %li.categoryTree__item
              =link_to("全ての商品一覧","#",id:"3")
        %li.listsLeft__item__brand
          =link_to("ブランド","#",class:"brandBtn")
      %ul.listsRight 
        - if user_signed_in?
          %li.listsRight__item__login
            = link_to("マイページ", user_path(current_user.id))
        - else
          %li.listsRight__item__login
            =link_to("ログイン", new_user_session_path)
          %li.listsRight__item__new
            =link_to("新規会員登録", step1_signup_index_path)