.header
  .header__inner
    .header__inner__main
      %h1.icon
        %a{:href => "/"}
          %img{:src => "/material/logo/logo.png"}/
      .searchBox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input#searchInput.searchBox__input{:name => "key", :placeholder => "キーワードから探す"}/
          %button{:type => "submit"}
            .searchBox__icon
              %img{:src => "/material/icon/icon-search 1.png"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "Ki8VkNyvNLkAz9WBdSjyWLGZEp8Qvtnd7MnjNr08nSozFuPtkF+ckcfxxys4EdL+M9b7VOIzeDngTcLVSei8ZQ=="}/
          
      %ul.resultLists
    .navi
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item-category
          %a#catBtn{:href => "#"} カテゴリー
          .tree.displayNone
            %ul.categoryTree 全てのカテゴリ一覧
        %li.listsLeft__item
          %a#brandBtn{:href => "#"} ブランド
          %ul.brandsPulldown.displayNone
      %ul.listsRight 
        %li.listsRight__item.listsRight__item-login
          %a{:href => "#"} ログイン
        %li.listsRight__item.listsRight__item-new
          %a{:href => "#"} 新規会員登録

  