.main
  .main__header
    %ul.main__header__lists
      FURIMA
  .main__itempage
    .show-main
      .show-main__content
        .show-main__content__itembox
          %h2.show-main__content__itembox__name
            product1
          .show-main__content__itembox__body
            .show-main__content__itembox__body__images
              %img(src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png")
              %ul.mini-images
                %li.list
                  %img(src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png")
                %li.list
                  %img(src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png")
                %li.list
                  %img(src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png")
          .show-main__content__itembox__price
            %p
              ¥10000
            .show-main__content__itembox__price__detail
              %span
                (税込) 
              %span
                送料込み
          .show-main__content__itembox__detail
          .show-main__content__itembox__table
          .show-main__content__itembox__option
        .show-main__content__commentbox
      .show-main__link
      .show-main__reloaditems