<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>FURIMA</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="5Vz2IDjSQh3ZU4PMWpc6I2/1u0hoLKY10DB0oTdQRcVP/6LU69ooCyPbFd+GuTzpB3YZoD0lHtiwZMD3RffsIg==">
    <link rel="stylesheet" media="all" href="/assets/application-2e096b94f60fe4efbadc0b2fe0199ebc3f338134ada36d1d73b67e994e191614.css" data-turbolinks-track="reload">
    <script src="/assets/application-26d056ac003f4e4f9d1ad389ac9e51f4f59d6236cc12a75b4ca86167f653c860.js" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <nav class="breadCrumbs">
      <ul>
        <li>
          <a href="/">FURIMA</a>
        </li>
        <li>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a href="#">レディース</a>
        </li>
        <li>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a href="#">トップス</a>
        </li>
        <li>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a href="#">Tシャツ/カットソー(半袖/袖なし)</a>
        </li>
        <li>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <p>product1</p>
        </li>
      </ul>
    </nav>
    <div class="main">
      <div class="showMain">
        <div class="contentLeftqq"></div>
        <div class="contentRight">
          <div class="topContent">
            <div class="itemBox">
              <h2 class="itemBox__name">product1</h2>
              <div class="itemBox__body">
                <ul>
                  <li>
                    <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png">
                    <ul>
                      <li>
                        <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" width="75" height="75">
                      </li>
                      <li>
                        <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png" width="75" height="75">
                      </li>
                      <li>
                        <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png" width="75" height="75">
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="itemBox__price">
                <span>¥10000</span>
                <div class="itemBox__price-detail">
                  <span>(税込)</span>
                  <span>送料込み</span>
                </div>
              </div>
              <div class="itemDetail">親譲りの無鉄砲で小供の時から損ばかりしている。
              小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
              なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
              弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
              </div>
              <div class="table">
                <table>
                  <tbody>
                    <tr>
                      <th>出品者</th>
                      <td>hoge</td>
                    </tr>
                    <tr>
                      <th>カテゴリー</th>
                      <td>
                        <a href="#">レディース</a>
                        <br>
                        <a href="#">トップス</a>
                        <br>
                        <a href="#">Tシャツ/カットソー(半袖/袖なし)</a>
                      </td>
                    </tr>
                    <tr>
                      <th>ブランド</th>
                      <td></td>
                    </tr>
                    <tr>
                      <th>商品のサイズ</th>
                      <td></td>
                    </tr>
                    <tr>
                      <th>商品の状態</th>
                      <td>新品/未使用</td>
                    </tr>
                    <tr>
                      <th>配送料の負担</th>
                      <td>送料込み（出品者負担）</td>
                    </tr>
                    <tr>
                      <th>発送元の地域</th>
                      <td>
                        <a href="#">青森県</a>
                      </td>
                    </tr>
                    <tr>
                      <th>発送日の目安</th>
                      <td>1-2日で発送</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="optionalArea">
                <ul>
                  <li class="optionalBtn likeBtn" id="likeBtn">
                    <i class="fa fa-star"></i> お気に入り 0
                  </li>
                </ul>
                <ul class="optional">
                  <li class="optionalBtn">
                    <a href="#">
                      <i class="fa fa-flag"></i>
                      不適切な商品の通報
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="commentBox">
              <ul class="commentContents"></ul>
              <form class="new_comment" id="new_comment" action="#" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="authenticity_token" value="5Vz2IDjSQh3ZU4PMWpc6I2/1u0hoLKY10DB0oTdQRcVP/6LU69ooCyPbFd+GuTzpB3YZoD0lHtiwZMD3RffsIg==">
                <textarea required="required" name="comment[body]" id="comment_body">
                </textarea>
                <p class="noticeMsg">
                  相手のことを考え丁寧なコメントを心がけましょう。
                  <br>
                  不快な言葉遣いなどは利用制限や退会処分となることがあります。
                </p>
                <br>
                <button name="button" type="submit" class="commentBtn">
                  <i class="fa fa-comment">
                  </i>
                    コメントする
                </button>
              </form>
            </div>
          </div>
          <ul class="links">
            <li>
              <a href="#"><i class="fa fa-angle-left"></i>
              <span></span>
              前の商品
              </a>
            </li>
            <li>
              <a href="#">
                <span>後ろの商品</span>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <div class="relatedItems">
            <a href="#">レディースをもっと見る</a>
            <div class="productLists"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>