* {
  box-sizing: border-box;
}

.wrapper {
  
  .topHeader {
    padding: 0 60px;
  
    .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    

      .mainHeader {
      position: relative;
      display: flex;
      align-items: center;
      
  }}}

}